#hideshow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#fade {
	background: #000; 
	position: fixed; 
	width: 100%;
	height: 100%;
	filter:alpha(opacity=50);
	opacity: .50;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	left: 0;
	z-index: 200;
}

.popup_block {
	background: #ddd;
	padding: 10px 20px;
	border: 2px solid #fff;
	float: left;
	width: 600px;
	position: fixed;
	top: 10%;
	left: 45%;
	margin: 0 0 0 -250px;
	z-index: 250;

}

.popup_block .popup {
	float: left;
	width: 100%;
	background: #fff;
	margin: 10px 0;
	padding: 10px 0;
	border: 1px solid #bbb;
}

.popup h3 {
	margin: 0 0 20px;
	padding: 5px 10px;
	border-bottom: 1px solid #bbb;
	font-size: 1.5em;
	font-weight: normal;
}

.popup p {
	padding: 5px 10px;
	margin: 5px 0;
}

.popup img.cntrl {
	position: absolute;
	right: -20px;
	top: -20px;
    border:0px;
}
/*Making IE6 Understand Fixed Positioning*/
*html #fade {
	position: absolute;
	top:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollTop : document.body.scrollTop);
}

*html .popup_block {
	position: absolute;
	top:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollTop
	+((documentElement.clientHeight-this.clientHeight)/2)
	: document.body.scrollTop
	+((document.body.clientHeight-this.clientHeight)/2));
	left:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollLeft 
	+ (document.body.clientWidth /2 ) 
	: document.body.scrollLeft 
	+ (document.body.offsetWidth /2 ));
}

.image_loading_information {
    margin-left:285px;
    margin-top:175px;
    border:0px;
}

#DivInnerHTML {
    height:390px;
}