.Menu {
	PADDING-LEFT: 5pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Menu: link {
	PADDING-LEFT: 5pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Menu: visited {
	PADDING-LEFT: 5pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Menu:hover {
	PADDING-LEFT: 5pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}



.SubMenu {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.SubMenu:link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.SubMenu:visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.SubMenu:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #ffffff ; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}


.BarLeft {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BarLeft: link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BarLeft: visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BarLeft:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}


.TopMenu {
	PADDING-RIGHT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.TopMenu: link {
	PADDING-RIGHT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
TopMenu: visited {
	PADDING-RIGHT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.TopMenu:hover {
	PADDING-RIGHT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #FFFF00; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}


.Title {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #CC0000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.Title:link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #CC0000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.Title:visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #CC0000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.Title:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}



.Content {
	FONT-SIZE: 10pt; FONT-WEIGHT: normal; COLOR: black; FONT-FAMILY: Arial, Verdana; TEXT-ALIGN: justify
}


.Other {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Other: link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Other: visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Other:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: underline
}


.WhiteText {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.WhiteText:link {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.WhiteText:visited {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.WhiteText:hover {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #FFFFFF; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: underline
}


.DarkText {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.DarkText:link {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.DarkText:visited {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.DarkText:hover {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: underline
}




.mbrv_category{
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.mbrv_category:link {
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.mbrv_category:visited {
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.mbrv_category:hover {
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}

.mbrv_list {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.mbrv_list:link {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.mbrv_list:visited {
	PADDING-LEFT: 3pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.mbrv_list:hover {
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}



.GrayText {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 7.5pt; COLOR: #ADADAD; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.GrayText:link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 7.5pt; COLOR: #ADADAD; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.GrayText:visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 7.5pt; COLOR: #ADADAD; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.GrayText:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 7.5pt; COLOR: #000000 ; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}


.BlueText {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #2470A0; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BlueText:link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #2470A0; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BlueText:visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #2470A0; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BlueText:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: red ; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}


.Category {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #FF9900; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Category:link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #FF9900; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Category:visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #FF9900; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Category:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #FF9900; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: underline
}

.TitleMain {
	PADDING-LEFT: 20pt; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #8f0404; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.TitleMain:link {
	PADDING-LEFT: 20pt; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #8f0404; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.TitleMain:visited {
	PADDING-LEFT: 20pt; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #8f0404; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.TitleMain:hover {
	PADDING-LEFT: 20pt; FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: underline
}


.HotButton {
	PADDING-LEFT: 16pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.HotButton:link {
	PADDING-LEFT: 16pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.HotButton: visited {
	PADDING-LEFT: 16pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.HotButton:hover {
	PADDING-LEFT: 16pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}


.Button {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Button:link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Button:visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Button:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: underline
}

.Tool {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Tool:link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.Tool:visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: underline
}
.Tool:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: none; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}


.BarText {
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BarText:link {
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BarText:visited {
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.BarText:hover {
	PADDING-LEFT: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: yellow; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}


.TitleDetail {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #CC0000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.TitleDetail:link {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #CC0000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.TitleDetail:visited {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #CC0000; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}
.TitleDetail:hover {
	PADDING-LEFT: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: black; FONT-FAMILY: Arial, Verdana; TEXT-DECORATION: none
}


.FrmStyle{
	font-family: tahoma;
	font-size: 11px;
	text-decoration: none;	
}